<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hoe_right_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoe_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{0,31},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hoe_right.png</string>
            <key>size</key>
            <string>{16,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f271d50ff0cf6f4f79236d257bffd5:45a545907a9f31053cc80785a2176cd8:7ef6cab6dc06efa0384dd4a939ebba30$</string>
            <key>textureFileName</key>
            <string>hoe_right.png</string>
        </dict>
    </dict>
</plist>
