<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hoe_left_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoe_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{0,31},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hoe_left.png</string>
            <key>size</key>
            <string>{16,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cff9f29e75cd7024b5ee5386d3559cd:2bc2964e550fd72bc70455841ebdd35b:4790c694105e0a835fe216f2f26c0a1a$</string>
            <key>textureFileName</key>
            <string>hoe_left.png</string>
        </dict>
    </dict>
</plist>
