<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kettle_left_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kettle_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{18,0},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kettle_left.png</string>
            <key>size</key>
            <string>{35,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d16ecec0644737d332873f4c178ca2:0bc46f8ea180b8593c2dd6d3e1797c9a:21599fb5e12167d99fadf45a9a74ec0a$</string>
            <key>textureFileName</key>
            <string>kettle_left.png</string>
        </dict>
    </dict>
</plist>
