<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>house_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,144}</string>
                <key>spriteSourceSize</key>
                <string>{112,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>house_1_spring.png</string>
            <key>size</key>
            <string>{112,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04a8deff86dcc677a9ae22a6461b1d4a:15fdfd5df34a11e3f0a7652e56cf5c33:ced09e58501583ee93b3c30aae66bd2b$</string>
            <key>textureFileName</key>
            <string>house_1_spring.png</string>
        </dict>
    </dict>
</plist>
