<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>myhouse_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>myhouse_1_summer.png</string>
            <key>size</key>
            <string>{200,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:230635aa997123992496bec7403e65c6:2547967380609a394318918af02d6d3f:a72ba74dd55b0a3816d0334fbfd6d2aa$</string>
            <key>textureFileName</key>
            <string>myhouse_1_summer.png</string>
        </dict>
    </dict>
</plist>
