<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s4_floor.png</string>
            <key>size</key>
            <string>{16,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:191734fd63c6f275a67338ff4f205f09:b29f1745a4ef79b7945413c7083388cf:b7edd2b84eb4aadbe97074d51a6e8ec1$</string>
            <key>textureFileName</key>
            <string>s4_floor.png</string>
        </dict>
    </dict>
</plist>
