<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tree_2_spring.png</string>
            <key>size</key>
            <string>{100,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597b83144074ad8a249b65568502680b:46ebb4238511774582d939e938b422d1:59c3182328d3823b652499db54665aa8$</string>
            <key>textureFileName</key>
            <string>tree_2_spring.png</string>
        </dict>
    </dict>
</plist>
