<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chicken_idle_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{16,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>32 16 16 16 16 0 32 0</string>
            </dict>
            <key>Chicken_idle_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>16 16 0 16 0 0 16 0</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chicken_idle_down.png</string>
            <key>size</key>
            <string>{32,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4afd7cd101d9035fbbe7eb7f605700:3f4c18c638f7bc6194edbece8f716261:591aee115b87a931d3134c9444cafc2d$</string>
            <key>textureFileName</key>
            <string>chicken_idle_down.png</string>
        </dict>
    </dict>
</plist>
