<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>myhouse_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>myhouse_1_fall.png</string>
            <key>size</key>
            <string>{200,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:699722486ba1c70b80de65ecca5f6fe2:2547967380609a394318918af02d6d3f:a864a1e29ec09872c0ecaee5ac94c25c$</string>
            <key>textureFileName</key>
            <string>myhouse_1_fall.png</string>
        </dict>
    </dict>
</plist>
