<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>st_size2.png</string>
            <key>size</key>
            <string>{50,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57cf1f30850c19a3681e5c5e8f043714:d493c2d96915498d89fcec0a9f45fdee:dd4fd033811886c73338b78d451408c0$</string>
            <key>textureFileName</key>
            <string>st_size2.png</string>
        </dict>
    </dict>
</plist>
