<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chop_up_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chop_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{0,25},{14,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chop_up.png</string>
            <key>size</key>
            <string>{14,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a58d2ed3c543bacd0e3539a05bb275bb:049d9a5cf362d5f3fcd51d2ad93424a1:7754c29fc146e3e31757ddfc760befa0$</string>
            <key>textureFileName</key>
            <string>chop_up.png</string>
        </dict>
    </dict>
</plist>
