<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hoe_up_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,31}</string>
                <key>spriteSourceSize</key>
                <string>{15,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hoe_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{15,0},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hoe_up.png</string>
            <key>size</key>
            <string>{31,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2290e4f643b4799446cac5cb7c9b49d:d845dd5342c382e7b35d42e4a25265af:280cb93521db8cd685639bd08179e585$</string>
            <key>textureFileName</key>
            <string>hoe_up.png</string>
        </dict>
    </dict>
</plist>
