<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kettle_down_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kettle_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{0,23},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kettle_down.png</string>
            <key>size</key>
            <string>{15,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4262264d143ee088a3f947d5ba8c218e:fb232da1266aabb0267dc8e9ef22c85d:b2abee13d46044d394c42469b04ededc$</string>
            <key>textureFileName</key>
            <string>kettle_down.png</string>
        </dict>
    </dict>
</plist>
