<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kettle_right_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kettle_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{18,0},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kettle_right.png</string>
            <key>size</key>
            <string>{35,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2141d087d9b2a7362051a5b263635d6:af50423b2267b50d40b478ec530d43d4:f864147b3eee7fc1c11dd6af2c1d2fa1$</string>
            <key>textureFileName</key>
            <string>kettle_right.png</string>
        </dict>
    </dict>
</plist>
