<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pickaxe_left_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{0,33},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pickaxe_left.png</string>
            <key>size</key>
            <string>{22,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b5a67e1a6eac98fa842c4e4d796628a:902b578bbaf760e93d5d776d889208ee:3fe1e3a1d6c2a75c01fd868ea0bd99fe$</string>
            <key>textureFileName</key>
            <string>pickaxe_left.png</string>
        </dict>
    </dict>
</plist>
