<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pickaxe_up_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{13,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,31}</string>
                <key>spriteSourceSize</key>
                <string>{14,31}</string>
                <key>textureRect</key>
                <string>{{13,0},{14,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pickaxe_up.png</string>
            <key>size</key>
            <string>{27,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c17f4461689c2699fd8ca04a7623780:7ad236968e5c1900c35dbfe5abf7006a:2815b9e2b77cf4a498461dc3b8b4fd6f$</string>
            <key>textureFileName</key>
            <string>pickaxe_up.png</string>
        </dict>
    </dict>
</plist>
