<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reap_up_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{13,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reap_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,31}</string>
                <key>spriteSourceSize</key>
                <string>{14,31}</string>
                <key>textureRect</key>
                <string>{{13,0},{14,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>reap_up.png</string>
            <key>size</key>
            <string>{27,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246575ad7f2a5638bc081b46aed92868:7ad236968e5c1900c35dbfe5abf7006a:07ea722b2ccfd12fa45f6b95c34de1b8$</string>
            <key>textureFileName</key>
            <string>reap_up.png</string>
        </dict>
    </dict>
</plist>
